---
import { Image } from "astro:assets";
import clsx from "clsx";

interface Props {
  img: string;
  event: string;
  hoverEffect?: "rotate" | "scale";
  href: string;
  textSize?: string;
}

const {
  img,
  event,
  hoverEffect = "scale",
  href,
  textSize = "text-2xl",
} = Astro.props;
---

<a
  href={href}
  class={clsx(
    "overflow-hidden rounded-2xl transition-transform ease-in-out-back-2 duration-300 relative shadow-card cursor-pointer",
    hoverEffect === "rotate" ? "hover:rotate-3" : "hover:scale-105"
  )}
>
  <Image
    width={500}
    height={500}
    class="w-full h-full object-cover aspect-[3/4]"
    src={`/img/${img}.webp`}
    alt={event}
    loading="lazy"
  />
  <div
    class="absolute inset-0 from-transparent via-transparent to-black/80 bg-gradient-to-b flex flex-col justify-end items-start p-5"
  >
    <h3 class={clsx("font-semibold text-inv-text-light", textSize)}>{event}</h3>
  </div>
</a>
