---
import Up from "@assets/up.svg";

type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<details class="relative group cursor-pointer bg-[#E3CDFF] rounded-2xl">
  <summary
    class="py-6 px-8 list-none text-xl flex justify-between items-center"
  >
    <strong class="transition-transform duration-300 ease-in-out-back-2"
      >{title}</strong
    >
    <Up
      class="size-8 rotate-180 transition-transform duration-300 ease-in-out-back-2"
      id="arrow"
    />
  </summary>
  <p class="text-lg pb-6 px-8 pt-1.5 delay-100">{content}</p>
</details>
<style>
  details {
    transition: all 0.3s ease-in-out;
    height: 80px;
    &:open {
      height: calc-size(max-content, size);
      overflow-y: clip;
    }

    &:hover summary strong {
      transform: scale(1.02);
    }

    &:open #arrow {
      transform: rotate(180deg);
    }
  }
</style>
