---
import Up from "@assets/up.svg";

type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<details
  class="relative group cursor-pointer bg-inv-tertiary rounded-2xl overflow-y-clip"
>
  <summary
    class="py-3 md:py-6 px-4 md:px-8 list-none flex justify-between gap-1.5"
  >
    <p class="ease-in-out-back-2 text-lg md:text-xl font-semibold">{title}</p>
    <i class="size-6 md:size-8 flex justify-center items-center" id="arrow">
      <Up
        class="transition-transform duration-300 ease-in-out-back-2"
        id="arrow"
      />
    </i>
  </summary>
  <p class="md:text-lg pb-3 md:pb-6 px-4 md:px-8 pt-1.5 delay-100">{content}</p>
</details>
<style>
  details {
    transition: all 0.3s ease-in-out;
    height: 80px;
    &:open {
      height: calc-size(max-content, size);
    }

    #arrow {
      transform: rotate(90deg);
    }

    &:open #arrow {
      transform: rotate(180deg);
    }
  }
</style>
