---
import Menu from "@components/assets/icons/Menu.astro";
import User from "@components/assets/icons/User.astro";
import Google from "@components/assets/icons/Google.astro";
---

<nav
  class="max-w-[50rem] bg-dark mx-auto sticky w-full py-4 px-10 top-[2.5rem] h-[4.4rem] rounded-full flex items-center justify-between"
>
  <a class="text-thin font-medium text-lg">
    🪅Invita<span class="font-light text-thin">.me</span>
  </a>
  <div class="flex items-center gap-1.5">
    <button
      class="text-thin p-2 flex gap-2 items-center justify-center rounded-full hover:bg-[#5E5A73] transition-colors duration-300 ease-linear relative group cursor-pointer"
      id="google-login"
    >
      <span class="ml-1.5 font-medium">Accede con Google</span>
      <i class="hidden group-hover:block"><Google /></i>
      <i class="block group-hover:hidden"><User /></i>
    </button>
    <button
      class="text-thin p-2 flex items-center justify-center cursor-pointer hover:bg-[#5E5A73] transition-colors duration-300 ease-linear rounded-full"
    >
      <Menu />
    </button>
  </div>
</nav>
<style>
  #google-login span {
    transform: translateX(1rem);
    opacity: 0;
    visibility: hidden;
  }

  #google-login:hover {
    span {
      animation: slideIn 0.3s ease-in-out forwards;
    }
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
</style>
