---
import Container from "@common/Container.astro";
---

<section class="py-28">
  <Container>
    <h2 class="font-semibold text-6xl">
      Empezamos, <span class="text-inv-tertiary font-bold">Celebración</span>:
    </h2>
  </Container>
</section>
