@import "tailwindcss";

:root {
  interpolate-size: allow-keywords;

  --inv-bg-light: #fef9f9;
  --inv-bg-dark: #2a1e22;

  /* #EE839F */
  --inv-primary: #f09caf;
  --inv-secondary: #f1adb9;
  --inv-tertiary: #f3cfce;
  --inv-ui-accent: #ee839f;

  --inv-text-light: #fdfafa;
  --inv-text-dark: #2e2e2e;

  --inv-neutral: #cfcfd1;
}

@theme {
  --color-inv-bg-light: var(--inv-bg-light);
  --color-inv-bg-dark: var(--inv-bg-dark);
  --color-inv-primary: var(--inv-primary);
  --color-inv-secondary: var(--inv-secondary);
  --color-inv-tertiary: var(--inv-tertiary);
  --color-inv-text-light: var(--inv-text-light);
  --color-inv-text-dark: var(--inv-text-dark);
  --color-inv-neutral: var(--inv-neutral);
  --color-inv-ui-accent: var(--inv-ui-accent);

  --shadow-card:
    rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  --ease-in-out-back: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-back-2: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body {
  background: var(--inv-bg-light);
  color: var(--inv-text-dark);
}
