---
import Container from "@components/common/Container.astro";
import Mail from "@assets/mail.svg";
import WhatsApp from "@assets/whatsapp.svg";
import Arrow from "@assets/arrow.svg";
import ContactLink from "../ContactLink.astro";
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
---

<Section id="contact">
  <Container>
    <SectionTitle align="text-center">¿Hablamos?</SectionTitle>
    <p class="font-medium md:text-xl mt-2.5 text-center">
      Ya sea que tengas una duda, idea o quieras empezar tu invitación, estamos
      aquí para ayudarte.
    </p>
    <div class="mt-8 md:mt-20 mx-auto">
      <p class="font-semibold text-lg md:text-5xl">Contáctanos por</p>
      <div class="flex flex-col gap-2.5 md:gap-5 mt-0.5 md:mt-2">
        <ContactLink href="#">
          WhatsApp
          <WhatsApp slot="icon" class="size-10 md:size-44" />
        </ContactLink>
        <ContactLink href="#">
          Correo electrónico
          <Mail slot="icon" class="size-8 md:size-40" />
        </ContactLink>
      </div>
    </div>
  </Container>
</Section>
