---
import Container from "@common/Container.astro";
import CardImage from "../CardImage.astro";
import { EVENT_CATEGORIES } from "@utils/staticData";
import Section from "./Section.astro";
---

<Section>
  <div class="absolute inset-0 -z-10 grid grid-cols-2">
    <div class="bg-[url('/src/assets/bg.svg')] grid-rows-2">
      <div class="from-transparent to-inv-bg-light bg-radial h-full"></div>
    </div>
  </div>
  <Container>
    <h2 class="font-semibold text-6xl">
      Elige Tu Próxima <span class="text-inv-tertiary font-bold"
        >Celebración</span
      >:
    </h2>
    <div class="grid grid-cols-3 gap-9 mt-24">
      {
        EVENT_CATEGORIES.map((category) => (
          <CardImage {...category} href="#" textSize="text-6xl" />
        ))
      }
    </div>
    <div class="mx-auto mt-36 w-2xl text-center">
      <h5
        class="text-7xl font-bold text-inv-primary drop-shadow-lg drop-shadow-inv-primary/60"
      >
        Proximamente...
      </h5>
      <p class="font-medium text-xl mt-2.5">
        ¡Esto es solo el comienzo! Pronto verás más eventos increíbles por aquí.
      </p>
    </div>
  </Container>
</Section>
