---
import Container from "@/components/common/Container.astro";
---

<footer class="bg-inv-bg-dark py-20 text-inv-text-light">
  <Container>
    <div class="grid grid-cols-[2fr_1fr]">
      <div class="border-r-4 border-dotted dotted pr-10">
        <nav></nav>
        <h1 class="font-extrabold text-[14rem] leading-none">
          Invita.<span class="font-light">me</span>
        </h1>
        <p class="text-xl font-medium ml-2.5">
          Desarrollado por <a href="#">@anszdev</a>, inspirado en <a
            href="https://pixelease.net/">@PixelEase</a
          >
        </p>
      </div>
      <div></div>
    </div>
  </Container>
</footer>
