---
import Container from "@/components/common/Container.astro";
import { NAV_LINKS } from "@utils/staticData";
---

<footer class="bg-inv-bg-dark py-6 md:py-20 text-inv-text-light">
  <Container>
    <div>
      <nav
        class="flex flex-wrap gap-x-6 justify-center md:justify-start md:gap-12 md:ml-2.5"
      >
        {
          NAV_LINKS.map((link) => (
            <a
              href={link.href}
              class="md:text-xl font-semibold uppercase gap-8 py-2"
            >
              {link.label}
            </a>
          ))
        }
      </nav>
      <a
        href="/"
        class="font-extrabold block md:inline text-center md:text-left text-5xl md:text-[14rem] leading-none my-6 hover:scale-105"
      >
        Invita.<span class="font-light">me</span>
      </a>
      <p
        class="text-base text-center md:text-left md:text-xl font-medium md:ml-2.5"
      >
        Desarrollado por <a href="#">@anszdev</a>, inspirado en <a
          href="https://pixelease.net/">@PixelEase</a
        >
      </p>
    </div>
  </Container>
</footer>
