button span {
  transform: translateX(1rem);
  opacity: 0;
  visibility: hidden;
}

button:hover {
  span {
    animation: slideIn 0.3s ease-in-out forwards;
  }
}

a {
  animation: jump-above ease-in-out 0.7s both;
  opacity: 0;
  scale: 0.5;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes jump-above {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
