---
import "@fontsource-variable/outfit";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>🪅Invita.me - Invitaciones digitales</title>
  </head>
  <body class="overflow-x-hidden w-full max-w-full box-border">
    <slot />
  </body>
</html>

<style>
  * {
    outline: 1px solid red; /* o usa un color semitransparente */
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Outfit Variable", sans-serif;
  }
</style>
